extends templates/layout

block content
  
<<<<<<< HEAD
  
=======
  h3 Bienvenido a FAST-CAR , Compra-Venta de coches
  p Seleccione una opción de la lista para continuar
>>>>>>> 6b29e1a952170ea53fcc54c2b6879f94ad43138a
