h1 FAST-CAR
h3 Compra-Venta de coches

nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/clientes") Clientes
        li 
          a(href="/vehiculos") Vehiculos  
        li 
          a(href="/compraventa") Compra-Venta            
        li
          a(href="/logout") Cerrar sesión