extends ../templates/layout

block content 
    h3 Eliminar una venta
        div 
            form(action="/ventas/del", method="post") 
                label(for="Fecha_Venta") Fecha de venta:
                input(type="text", name="Fecha_Venta", disabled)
                br
                label(for="Total") Total de la venta:
                input(type="text", name="Total", disabled)                    
                br
                input(type="hidden", name="id", value=`${Venta.ID_Venta}`)                  
                input(type="submit", value="Borrar")